<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Clients
  </h3>
</div>

<ul *ngFor="let entry of clients | async | select: 'clients'" calss="mdl-list">
  <li class="mdl-list__item">
    <i class="material-icons">person</i>
    {{entry.clientName}}
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored blue" (click)="onDeleteClient(entry.id)">
      <i class="material-icons">delete</i>
    </button>
  </li>
</ul>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored right blue" (click)="onAddClient()">
  <i class="material-icons">add</i>
</button>


